@import 'variables';
@import 'mixins';

// ROCKET ANIMATION
// ---------------------------------------------
// ---------------------------------------------
.extra1 {
  animation: pulse .5s linear infinite alternate;
}


// BIG ASTEROID FIELD
// ---------------------------------------------
// ---------------------------------------------
#zen-supporting footer a {
  animation-play-state: running;
}

#zen-supporting footer {
    a:nth-child(1) {
    @include meteorAnimate (10s, ease);
    }

    a:nth-child(2) {
      @include meteorAnimate (9s, linear);
  
  }

    a:nth-child(3) {
      @include meteorAnimate (7s, ease-in);
    }

    a:nth-child(4) {
      @include meteorAnimate (10s, ease-in);
    }

    a:nth-child(5) {
      @include meteorAnimate (15s, ease-out);
  }
}

#zen-supporting footer a:hover {
  animation-play-state: paused;
}


// SMALL ASTEROID BELT
// ---------------------------------------------
// ---------------------------------------------
#design-selection {
    li {
    animation-play-state: running;
    }

    li:nth-child(1) {
    @include meteorAnimate-2 (15s, ease);
    }

    li:nth-child(2) {
    @include meteorAnimate-2 (10s, ease-out);
    }

    li:nth-child(3) {
    @include meteorAnimate-2 (12s, ease-in-out);
    }

    li:nth-child(4) {
    @include meteorAnimate-2 (16s, ease);
    }

    li:nth-child(5) {
    @include meteorAnimate-2 (18s, ease-in);
    }

    li:nth-child(6) {
    @include meteorAnimate-2 (11s, ease-out);
    }

    li:nth-child(7) {
    @include meteorAnimate-2 (14s, ease-in-out);
    }

    li:nth-child(8) {
    @include meteorAnimate-2 (13s, ease);
    }

    li:hover {
    animation-play-state: paused;
    }
}


@keyframes pulse {
  0% {
    width: 100px;
    transform: rotate(192deg);
  }

  100% {
    width: 102px;
    transform: rotate(195deg);
  }
}


@keyframes meteor {
  from {
    margin-top: -50px;
    margin-left: -700px;
  }

  to {
    margin-top: 50px;
    margin-left: 700px
  }
}


@keyframes meteor1 {
  from {
    left: -100vw;
  }

  to {
    left: 100vw;
  }
}


// MEDIUM SCREEN
// ---------------------------------------------
// ---------------------------------------------
@media (min-width: $meteor-margin) {

  @keyframes meteor {
    from {
      margin-left: -800;
    }

    to {
      margin-left: $meteor-margin
    }
  }

  @keyframes meteor1 {
    from {
      left: -70vw;
    }

    to {
      left: $meteor-move;
    }
  }

}


// LARGE SCREEN
// ---------------------------------------------
// ---------------------------------------------
@media (min-width: 1100px) {

  #design-selection li:nth-child(1) {
    @include meteorAnimate-2 (23s, ease-in);
  }

  #design-selection li:nth-child(2) {
    @include meteorAnimate-2 (30s, ease-out);
  }

  #design-selection li:nth-child(3) {
    @include meteorAnimate-2 (32s, ease-in-out); 
  }

  #design-selection li:nth-child(4) {
    @include meteorAnimate-2 (36s, ease);
  }

  #design-selection li:nth-child(5) {
    @include meteorAnimate-2 (38s, ease-in);
  }

  #design-selection li:nth-child(6) {
    @include meteorAnimate-2 (31s, ease-out);
  }

  #design-selection li:nth-child(7) {
    @include meteorAnimate-2 (34s, ease-in-out);
  }

  #design-selection li:nth-child(8) {
    @include meteorAnimate-2 (33s, ease);
  }

  @keyframes meteor {
    from {
      margin-left: -1100px;
    }

    to {
      margin-left: 1100px
    }
  }

  @keyframes meteor1 {
    from {
      left: -80vw;
    }

    to {
      left: 80vw;
    }
  }

}
