// ROCKET ANIMATION
// ---------------------------------------------
// ---------------------------------------------
.extra1 {
  animation: pulse .5s linear infinite alternate;
}


// BIG ASTEROID FIELD
// ---------------------------------------------
// ---------------------------------------------
#zen-supporting footer a {
  animation-play-state: running;
}

#zen-supporting footer a:nth-child(1) {
  animation: meteor 10s ease infinite alternate; // possible mixin oppurtunity?
}

#zen-supporting footer a:nth-child(2) {
  animation: meteor 9s linear infinite alternate; // possible mixin oppurtunity?
}

#zen-supporting footer a:nth-child(3) {
  animation: meteor 7s ease-in infinite alternate; // possible mixin oppurtunity?
}

#zen-supporting footer a:nth-child(4) {
  animation: meteor 10s ease-in infinite alternate; // possible mixin oppurtunity?
}

#zen-supporting footer a:nth-child(5) {
  animation: meteor 15s ease-out infinite alternate; // possible mixin oppurtunity?
}

#zen-supporting footer a:hover {
  animation-play-state: paused;
}


// SMALL ASTEROID BELT
// ---------------------------------------------
// ---------------------------------------------
#design-selection li {
  animation-play-state: running;
}

#design-selection li:nth-child(1) {
  animation: meteor1 15s ease-in infinite; // possible mixin oppurtunity?
}

#design-selection li:nth-child(2) {
  animation: meteor1 10s ease-out infinite; // possible mixin oppurtunity?
}

#design-selection li:nth-child(3) {
  animation: meteor1 12s ease-in-out infinite; // possible mixin oppurtunity?
}

#design-selection li:nth-child(4) {
  animation: meteor1 16s ease infinite; // possible mixin oppurtunity?
}

#design-selection li:nth-child(5) {
  animation: meteor1 18s ease-in infinite; // possible mixin oppurtunity?
}

#design-selection li:nth-child(6) {
  animation: meteor1 11s ease-out infinite; // possible mixin oppurtunity?
}

#design-selection li:nth-child(7) {
  animation: meteor1 14s ease-in-out infinite; // possible mixin oppurtunity?
}

#design-selection li:nth-child(8) {
  animation: meteor1 13s ease infinite; // possible mixin oppurtunity?
}

#design-selection li:hover {
  animation-play-state: paused;
}



@keyframes pulse {
  0% {
    width: 100px;
    transform: rotate(192deg);
  }

  100% {
    width: 102px;
    transform: rotate(195deg);
  }
}


@keyframes meteor {
  from {
    margin-top: -50px;
    margin-left: -700px;
  }

  to {
    margin-top: 50px;
    margin-left: 700px
  }
}


@keyframes meteor1 {
  from {
    left: -100vw;
  }

  to {
    left: 100vw;
  }
}


// MEDIUM SCREEN
// ---------------------------------------------
// ---------------------------------------------
@media (min-width: 800px) {  // possible variable??? 

  @keyframes meteor {
    from {
      margin-left: -800px;// possible variable??? 
    }

    to {
      margin-left: 800px// possible variable??? 
    }
  }

  @keyframes meteor1 {
    from {
      left: -70vw;// possible variable??? 
    }

    to {
      left: 70vw;// possible variable??? 
    }
  }

}


// LARGE SCREEN
// ---------------------------------------------
// ---------------------------------------------
@media (min-width: 1100px) {

  #design-selection li:nth-child(1) {
    animation: meteor1 23s ease-in infinite; // possible mixin??? 
  }

  #design-selection li:nth-child(2) {
    animation: meteor1 30s ease-out infinite; // possible mixin??? 
  }

  #design-selection li:nth-child(3) {
    animation: meteor1 32s ease-in-out infinite; // possible mixin??? 
  }

  #design-selection li:nth-child(4) {
    animation: meteor1 36s ease infinite; // possible mixin??? 
  }

  #design-selection li:nth-child(5) {
    animation: meteor1 38s ease-in infinite; // possible mixin??? 
  }

  #design-selection li:nth-child(6) {
    animation: meteor1 31s ease-out infinite; // possible mixin??? 
  }

  #design-selection li:nth-child(7) {
    animation: meteor1 34s ease-in-out infinite; // possible mixin??? 
  }

  #design-selection li:nth-child(8) {
    animation: meteor1 33s ease infinite; // possible mixin??? 
  }

  @keyframes meteor {
    from {
      margin-left: -1100px;
    }

    to {
      margin-left: 1100px
    }
  }

  @keyframes meteor1 {
    from {
      left: -80vw;
    }

    to {
      left: 80vw;
    }
  }

}
