$purple-100: #E8C1C5;
$purple-200: #D499B9;
$purple-300: #9055A2;
$purple-400: #2E294E;
$purple-500: #011638;

* {
    color: white;
}

#zen-intro,
#zen-summary,
#zen-preamble,
#zen-explanation,
#zen-participation,
#zen-benefits,
#zen-requirements>p {}

p {
    background-color: rgba(0, 0, 0, 0.5);
}

a {
    font-weight: semibold;
    color: $purple-200;
}

a:hover {
    color: $purple-100;
}

.summary {
    color: $purple-500;
}

.preamble {
    color: $purple-100;
}
