html {
    background: url("assets/space_new_180.jpg");
    background-size: cover;
}

body {
    position: relative;
    transform: rotate(-180deg);
}

p {
    // max-width: 600px;
    padding: 0 3rem 0 3rem;
}

div>p:first-of-type {
    padding-top: 3rem;
}

div>p:last-of-type {
    padding-bottom: 3rem;
}

// #zen-intro,
// #zen-summary,
// #zen-preamble,
// #zen-explanation,
// #zen-participation,
// #zen-benefits,
// #zen-requirements {
//     display: none;
// }
