// ROCKET
// ---------------------------------------------
// ---------------------------------------------
.extra1 {
    position: fixed;
    right: 10%;
    top: 15%;
    width: 80px;
    height: 150px;
    background: url("assets/rocketship.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(192deg);
    z-index: 0;
}
