.extra1 {
    position: fixed;
    right: 10%;
    top: 15%;
    height: 175px;
    width: 100px;
    background: url("assets/rocketship.svg");
    background-size: cover;
    transform: rotate(192deg);
}


