@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Raleway:wght@400;500;700;900&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    letter-spacing: .05em;
    line-height: 1.5em;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
    margin-top: 50px;
}

p {
    font-size: .9em;
    text-indent: 1em;
    line-height: 1.7em;
}
