@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Raleway&display=swap');
@import 'partials/reset';
@import 'partials/prefix-mixins';
@import 'partials/layout'; // responsive grid and media queries

// color palette - these colors will be the color swatches of the Colors section

$color-1: #011638; // Cornflower Blue - Action color
$color-2: #2e294e; // Dark Blue
$color-3: #9055a2; // Red
$color-4: #d499b9; // light grey
$color-5: #ffffff; // white
$color-6: #e8c1c5;

// additional colors

$success: #6fce72; // green
$alert: $color-3; // red

// fonts
$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Orbitron', monospace;

/* -------------------------------- 

xBackground 

-------------------------------- */

body {
  /* this is the page background */
  background-color: $color-5;
}

/* -------------------------------- 

xPatterns

-------------------------------- */

.cd-box {
  /* this is the container of various design elements - i.e. the 2 logo of the branding section */
  border: 1px solid $color-4;
  border-radius: 3px;
  background: $color-5;
  box-shadow: 0 1px 1px rgba(#000, 0.05);
  padding: 6px;
}

/* -------------------------------- 

xNavigation 

-------------------------------- */
@import 'partials/navigation';


/* -------------------------------- 

xPage title 

-------------------------------- */

main > h1 {
  color: $color-2;

  @include MQ(L) {
    /* title goes into the header on big devices */
    color: $color-5;
  }
}

/* -------------------------------- 

xTypography 

-------------------------------- */
@import 'partials/typography';

/* -------------------------------- 

xButtons 

-------------------------------- */
@import 'partials/buttons';

/* -------------------------------- 

xIcons 

-------------------------------- */
@import 'partials/icons';


/* -------------------------------- 

xForm 

-------------------------------- */
@import 'partials/form';



@import 'partials/basic-style';