@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Raleway:wght@500;900&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: .05em;
}