@use '../utilities/variables';

.intro {
    &::after {
        content: "";
        background: url(../sass/assets/earth.svg) no-repeat;
        transform: rotate(180deg);
        height: 90vw;
        width: 96vw;
        position: absolute;
        top: -45vw;
    }
    header {
        text-align: center;
        h1 {
            background: black;
            display: inline-block;
            padding: 2rem;
            position: absolute;
            width: 40vw;
            bottom: 25%;
            left: calc(40vw/2 + 15px);
        }
        h2 {
            display: none;
        }
    }
    .summary {
        position: absolute;
        top: 50vh;
        right: 60%;
        width: 200px;
        padding: 10px;
        transform: rotate(-180deg);
        border: 1px solid variables.$purple-100;
        background: url("../sass/assets/venus.svg") no-repeat;
    }
}
