@use '../utilities/variables';

.intro {
    transform: rotate(0deg);
    &::after {
        content: "";
        background: url(../sass/assets/earth.svg) no-repeat;
        transform: rotate(180deg);
        height: 90vw;
        width: 96vw;
        position: absolute;
        top: -75vw;
        @media (max-width: 1100px) {
            top: -65vw;
        }
    }
    header {
        text-align: center;
        h1 {
            background: black;
            display: inline-block;
            padding: 2rem;
            position: absolute;
            width: 40vw;
            bottom: 25%;
            left: calc(40vw/2 + 15px);
        }
        h2 {
            display: none;
        }
    }
    .summary {
        position: absolute;
        transform: rotate(180deg);
        text-align: center;
        top: 50vh;
        right: 60%;
        width: 200px;
        padding: 40px 20px;
        background: url("../sass/assets/venus.svg") no-repeat center;
        color: variables.$purple-500;
        font-weight: 900;
        font-size: 1.1rem;
        p:last-of-type {
            display: none;
        }
    }

    .preamble {
        position: absolute;
        transform: rotate(180deg);
        text-align: center;
        bottom: 0;
        right: 10%;
        width: 350px;
        padding: 86px 20px;
        background: url("../sass/assets/mars.svg") no-repeat center;
        color: variables.$purple-100;
        font-weight: 500;
        font-size: .8rem;
        p {
            text-align: left;
            padding-left: 1.5rem;
            padding-right: 1rem;
        }
    }
}
