.main {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-around;

    .explanation {
 

        text-align: center;
        background: url("../sass/assets/jupiter.svg") no-repeat center;
   
    }
    .participation {
 
   
        text-align: center;
        background: url("../sass/assets/saturn.svg") no-repeat center;
    }
    .benefits {

    
        text-align: center;
        background: url("../sass/assets/uranus.svg") no-repeat center;
    }
    .requirements {

    
        text-align: center;
        background: url("../sass/assets/mercury.svg") no-repeat center;

    }

}