.page-wrapper {
    position: inherit;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

[role="banner"],
.intro,
.main,
.sidebar {
    height: 100vh;
    scroll-snap-align: center;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    border: 10px solid yellow;
    transform: rotate(-180deg);
}

